/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
font-family: "Righteous";
src: url("../fonts/BalooChettan-Regular.ttf");
src: url("../fonts/BalooChettan-Regular.ttf");
}
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}


body {
     color: #a09f9b;
     font-size: 14px;
     font-family:Roboto;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
     background-color: #7918c9;
}

.header_top{
     border: solid;
     border-radius: 5%;
     width: 100%;
     height: 120px;
     background-image: url(str.jpg);    
     background-size: cover;
}

.logo{
     width: 100%;
     height: 120px;
     text-align: center;
     padding: 16px 0px;
}

.contact_main {
    width: 100%;
    float: left;
    padding: 40px 0px;
}
.contact_left{
     width: 50%;
     float: left;
}
.contact_right{
     width: 50%;
     float: left;
}

.call_text{
     width: 100%;
     float: left;
     font-size: 18px;
     color: #ffffff;
}
.call_text a{
    color: #ffffff;
}
.call_text a:hover{
    color: #ffffff;
}
.call_text_left{
     padding-left: 20px;
}

#map {
     border-style: solid;
     border-radius: 2%;
     width: 100%;
     height: 840px;
     background-color: #00a199;
     color: #acadad;
}

